@keyframes hidePreloader {
  0% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0;
    height: 0;
  }
}

body > div.preloader {
  position: fixed;
  background: #f6f8fb;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* Coloca a tela de carregamento sobre tudo */
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

body:not(.loaded) > div.preloader {
  opacity: 1;
}

body:not(.loaded) {
  overflow: hidden;
}

body.loaded > div.preloader {
  animation: hidePreloader 0.5s linear 0.5s forwards;
  -webkit-animation: hidePreloader 0.5s linear 0.5s forwards;
}
